@{
    ViewData["Title"] = "Home Page";
}



<section class="bg1">

    <h1 class="display-6" style="
  top: 5%; /* Adjust vertical position */
        left: 0%; /* Adjust horizontal position */
        
        transform: translate(-5%, -5%); /* Center the text */
       
        background-color: rgba(217, 212, 212, 0.5), 0.5); /* Optional: Semi-transparent background */
  
        text-align: center; /* Center align the text */ ">
        Welcome to DopeStuffOnly Marketing</h1>
    <p style=" text-align: center; /* Center align the text */ ">Helping you grow your social media presence with data-driven marketing strategies.</p>


<div class="curve"></div>

</section>


<section style="
    
        background-color: rgba(217, 212, 212, 0.5), 0.5); /* Optional: Semi-transparent background */

        text-align: center; /* Center align the text */ ">


    <h3></h3>
    <p></p>

</section>


<!--
<div class="homePic">
<img src="Images/MPL2.jpg" height="420px" width="350px" padding-right="200px">
</div>
-->