@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-5">About Me</h1>
       <p>Hey it's Philasande Bovana, I'm a digital marketer.</p>

    <p>The goal is to help you attract, engage, and convert your audience into loyal customers.</p>
</div>


<div class="mt-5">
    <h1>My Services</h1>
    <p>Here's how I can help your business grow:</p>
    <ul>
        <li><strong>Search Engine Optimization (SEO):</strong> Rank higher on Google and attract organic traffic.</li>
        <li><strong>Pay-Per-Click (PPC) Campaigns:</strong> Generate instant leads with targeted ads.</li>
        <li><strong>Social Media Marketing:</strong> Build a loyal audience and increase engagement.</li>
        <li><strong>Content Marketing:</strong> Create compelling content that converts.</li>
        <li><strong>Email Marketing:</strong> Drive sales with effective email campaigns.</li>
    </ul>
</div>